* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}
header {
    width: 100%;
    height: 80px;
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 4px 0px black;
}
#logo {
    width: 250px;
    height: 85px;
    float: left;
}
#pages {
    width: 70%;
    float: right;
}
#allpages {
    float: right;
}
.linkpages {
    float: left;
    margin-top: 21px;
    margin-right: 35px;
}
h1 {
    font-size: 25px;
    color: grey;
}
h1:hover {
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
#active h1 {
    color: black;
}
#fotoprincipal {
    width: 100%;
}
footer {
    position: relative;
    bottom: 0;
    height: 43px;
    width: 100%;
    box-shadow:  0px 0px 4px 0px black;
    text-align: center;
    background-color: #1b1b1b;
    color: white;
    padding-top: 17px;
}
.liinfo {
    margin-left: 30px;
}
.info {
    margin-bottom: 5px;
    width: 300px;
}
#divinfo {
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.text {
    color:#1b1b1bd5;
    width: 600px;
}
#divtext {
    display: inline-block;
    width: 600px;
    margin-right: 20%;
}
#textpic {
    display: inline-block;
    width: 35%;
}
#content {
    background-color:whitesmoke;
}
#allcards {
    display: flex;
    width: 100%;
    padding-top: 150px;
    height: 600px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:whitesmoke;
}
.cards {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 500px;
}
.cards img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.cardstext{
    padding: 20px;
}
.cardstext p {
    font-size: 17px;
}
#infocf {
    height: 1700px;
    padding-top: 70px;
    background-color: whitesmoke;
}
.fotocursos {
    margin-top: 10px;
    width: 100%;
}
.infotext {
    padding-left: 20px;
    padding-top: 25px;
    width: 850px;
}
.infotext ol{
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 25px;
}
.infotext ol li{
    display: inline-block;
    width: 400px;
    margin-bottom: 2px;
    height: 50px;
}
li ul li p{
    padding-left: 30px;
    list-style-type: square;
    width: 150px;
}
#table {
    padding-left: 50px;
    background-color:whitesmoke;
    padding-bottom: 50px;
}
table {
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: 10px;
}
td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
#all {
    padding-top: 80px;
    background-color:whitesmoke;
    width: 100%;
    height: 839px;
}
#left {
    padding-top: 20px;
    padding-left: 50px;
    width: 50%;
    display: inline-block;
}
#left h2 {
    margin-bottom: 15px;
}
label {
    margin-bottom: 10px;
    display: inline-block;
    width: 150px;
}
input {
    width: 150px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background-color: white;
    margin-bottom: 15px;
}
#Missatge {
    width: 600px;
    height: 300px;
}
#Enviar {
    transition: background-color .5s;
}
#Enviar:hover {
    background-color: bisque;
}
#right {
    position: absolute;
    display: inline-block;
    padding-top: 20px;
}
#right p {
    margin-top: 15px;
}
iframe {
    margin-top: 20px;
}
#cfimg {
    width: 500px;
    border-radius: 10px;
    margin-top: 120px;
    margin-right: 70px;
}
#cfimg2 {
    width: 500px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 70px;
}
.left {
    float: left;
}
.right {
    float: right;
}
hr {
    width: 99.9%;
}
#secretaria {
    background-color: whitesmoke;
    height: 800px;
    padding-top: 80px;
}
#secretariaimg {
    width: 100%;
}
#secretariatext {
    width: 40%;
    padding-top: 20px;
    padding-left: 100px;
    float: left;
}
#secretariatext p{
    margin-top: 10px;
}
#preinscripcions {
    float: right;
    padding-top: 20px;
    padding-right: 200px;
}
#preinscripcions ul {
    margin-left: 30px;
}

#preinscripcions ul li{
    margin-top: 10px;
}
#preinscripcions ul li a{
    text-decoration: underline;
    color: blue;
}
#recursos {
    height: 700px;
    background-color: whitesmoke;
    padding-top: 80px;
}
#recursos img {
    width: 100%;
}
#recursostext {
    padding-top: 20px;
    padding-left: 50px;
}
#recursostext ul {
    padding-left: 40px;
}
#recursostext ul li {
    margin-top: 10px;
    width: 390px;
}
#recursostext li a {
    text-decoration: underline;
    color: blue;
}
#recursostext div{
    float: left;
    margin-right: 50px;
}